@page "/counter"
@*Can keep these in the .razor page or (go to .cs page)*@
@inject SingeltonService singelton
@inject TransientService transient

<h1 style="color: @AppState.Color">Counter</h1>

<div style="display: flex">
    <div style="width: 150px">
        <select @bind="AppState.Color" class="form-control" style="margin-top: 15px;">
            <option value="green">Green</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
        </select>
    </div>
    <div style="width: 150px">
        <select @bind="AppState.Size" class="form-control" style="margin-top: 15px;">
            <option value="12px">12px</option>
            <option value="20px">20px</option>
            <option value="30px">30px</option>
        </select>
    </div>
</div>

<div>
    <p style="color: @AppState.Color; font-size: @AppState.Size">Current Count: @currentCount</p>
    <p>Singelton Count: @singelton.Value</p>
    <p>Transient Count: @transient.Value</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click Me</button>

    <button class="btn btn-primary" @onclick="IncrementCountJavaScript">Click Me JavaScript</button>

    <input type="number" @bind="currentCount" />
</div>

@*<div>
    <MoviesList Movies="movies" />
</div>*@

@*Two different ways to do Arbitrary Parameters*@
<div>
    <h2>Create a Movie</h2>

    <DummyTextbox placeholder="Movie Name" disabled="true" />
    <DummyTextbox @attributes="@dummyTextboxParameters" />
</div>